# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Database
database.db
*.sqlite3
*.db

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/
