@import "tailwindcss" source(none);

@source "../../templates/**/*.html";
@source "../../main.py";

@theme {
  --font-sans: "Inter", sans-serif;
  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}
